.Card{
    position:absolute;
    top:11%;
    left:68%;
    background-color: transparent;
    border-radius: 20px;
    padding:2vw;
    padding-top:40px;
    width:35%;
    max-height: 400px;
}

.Block1{
    background-color: transparent;
}

.Block2{
    background-color: transparent;
    margin-left:2vw;
}

.Head{
    color:#ebebeb;
    background-color: transparent;
}

.Para{
    color:#ebebeb;
    background-color: transparent;
}

.CardButton{
    order:3;
    position:relative;
    margin:20px;
    width:100px;
    font-size:15px;
    height: 40px;
    text-align: center;
    border-radius: 24px;
    margin: 4px 10px;
    color: #ffffff;
    background-color: #c22929;
    border-color:#c22929;
}


.CardButton:Hover{
    order:3;
    position:relative;
    margin:20px;
    width:100px;
    font-size:15px;
    height: 40px;
    text-align: center;
    border-radius: 24px;
    margin: 4px 10px;
    background-color: #f0f0f0;
    color: #c22929;
    border-color:#f0f0f0;
}

@media (max-width:1000px) and (min-width:825px){
    .Block2{
        display:none;
    }
}

@media (max-width:825px){
    .Card{
        margin-top:50px;
        background-color: #fafaf9;
        display:flex;
        flex-direction: column;
        position:relative;
        left:0vw;
        width:100%;
        box-shadow: 0 2px 8px 0 rgba(0,0,0,0.8);
    }
    
    .Block1{
        background-color: #fafaf9;
        color:#000000;
    }
    
    .Block2{
        background-color: #fafaf9;
        margin-left:2vw;
        color:#000000;
    }
    
    .Head{
        background-color: #fafaf9;
        color:#000000;
    }
    
    .Para{
        background-color: #fafaf9;
        color:#000000;
    }
    
    .CardButton{
        order:3;
        position:relative;
        margin:20px;
        width:100px;
        font-size:15px;
        height: 40px;
        text-align: center;
        border-radius: 24px;
        margin: 4px 10px;
        color: #ffffff;
        background-color: #c22929;
        border-color:#c22929;
    }
    
    
    .CardButton:Hover{
        order:3;
        position:relative;
        margin:20px;
        width:100px;
        font-size:15px;
        height: 40px;
        text-align: center;
        border-radius: 24px;
        margin: 4px 10px;
        background-color: #fafaf9;
        color: #c22929;
        border-color:#c22929;
    }
}