.InternalWrapper{
    display:inline-block;
    position:relative;
    margin-right:2%;
}

.Logo{
    width:20vw;
    padding-bottom:35px;
}

.Ellipse{
    position:relative;
    left: 2vw;
}

.Vector{
    position:absolute;
    top:2vw;
    left:1vw;
}

.TextContainer{
    padding-left:5vw;
    padding-bottom:2vh;
    position:relative;
}

.Heading{
    display:flex;
    flex-wrap:wrap;
    font-size:45px;
}

.HeadingSmall{
    display:none;
}

.Paragraph{
    display:flex;
    flex-wrap:wrap;
    font-size: 20px;
    color:#757575;
}

.ParagraphSmall{
    display:none;
}

.SwitchContainer{
    max-height:600px;
    display:inline-block;
    position:relative;
    min-width:400px;
}

.BgImage{
    position:inherit;
    width: 110%;
    max-width:110%;
    top:20px;
}

.RectangleBackground{
    position:absolute;
    max-width:120%;
    width:120%;
    top:10%;
    left:0%;
    z-index:-1;
}

.TranscriptImage{
    position:absolute;
    width:56%;
    max-width:56%;
    border-radius:30px;
    background-color:#515151;
    top:12%;
    left:5%;
}


.ButtonChildren1{
    padding-left:2vw;
    padding-right:2vw;
    margin-left:80%;
    margin-right:80%;
    position:absolute;
    left:7%;
    top: -2%;
    width: auto;
    height: auto;
    font-size: 20px;
    text-align: center;
    border-radius: 26px;
    margin: 4px 2px;
    border:none;
    color: #757575;
    background-color: #f8f8f8;
}

.ButtonChildren2{
    padding-left:2vw;
    padding-right:2vw;
    margin-left:80%;
    margin-right:80%;
    position:absolute;
    left: 23%;
    top: -2%;
    width: auto;
    height: auto;
    font-size: 20px;
    text-align: center;
    border-radius: 26px;
    margin: 4px 2px;
    border:none;
    color: #757575;
    background-color: #f8f8f8;
}

.ButtonChildren3{
    padding-left:2vw;
    padding-right:2vw;
    margin-left:80%;
    margin-right:80%;
    position:absolute;
    left: 39%;
    top: -2%;
    width: auto;
    height: auto;
    font-size: 20px;
    text-align: center;
    border-radius: 26px;
    margin: 4px 2px;
    border:none;
    color: #757575;
    background-color: #f8f8f8;
}

.ButtonSelected1{
    padding-left:2vw;
    padding-right:2vw;
    margin-left:80%;
    margin-right:80%;
    position:absolute;
    left:7%;
    top: -2%;
    width: auto;
    height: auto;
    font-size: 20px;
    text-align: center;
    border-radius: 26px;
    margin: 4px 2px;
    border:none;
    color: #000000;
    font-weight: bold;
    background-color: #d3d3d3;
}

.ButtonSelected2{
    padding-left:2vw;
    padding-right:2vw;
    margin-left:80%;
    margin-right:80%;
    position:absolute;
    left:23%;
    top: -2%;
    width: auto;
    height: auto;
    font-size: 20px;
    text-align: center;
    border-radius: 26px;
    margin: 4px 2px;
    border:none;
    color: #000000;
    font-weight: bold;
    background-color: #d3d3d3;
}

.ButtonSelected3{
    padding-left:2vw;
    padding-right:2vw;
    margin-left:80%;
    margin-right:80%;
    position:absolute;
    left:39%;
    top: -2%;
    width: auto;
    height: auto;
    font-size: 20px;
    text-align: center;
    border-radius: 26px;
    margin: 4px 2px;
    border:none;
    color: #000000;
    font-weight: bold;
    background-color: #d3d3d3;
}

.ButtonChildren1:Hover{
    padding-left:2vw;
    padding-right:2vw;
    margin-left:80%;
    margin-right:80%;
    position:absolute;
    left:7%;
    top: -2%;
    width: auto;
    height: auto;
    font-size: 20px;
    text-align: center;
    border-radius: 26px;
    margin: 4px 2px;
    border:none;
    color: #404040;
    background-color: #a9a9a9;
}

.ButtonChildren2:Hover{
    padding-left:2vw;
    padding-right:2vw;
    margin-left:80%;
    margin-right:80%;
    position:absolute;
    left:23%;
    top: -2%;
    width: auto;
    height: auto;
    font-size: 20px;
    text-align: center;
    border-radius: 26px;
    margin: 4px 2px;
    border:none;
    color: #404040;
    background-color: #a9a9a9;
}

.ButtonChildren3:Hover{
    padding-left:2vw;
    padding-right:2vw;
    margin-left:80%;
    margin-right:80%;
    position:absolute;
    left:39%;
    top: -2%;
    width: auto;
    height: auto;
    font-size: 20px;
    text-align: center;
    border-radius: 26px;
    margin: 4px 2px;
    border:none;
    color: #404040;
    background-color: #a9a9a9;
}

.MiniSwitchContainer{
    display:none;
}

@media (min-width:825px) and (max-width:1120px){
    .InternalWrapper{
        display:inline-block;
        position:relative;
    }
    
    .Heading{
        display:none;
    }
    .HeadingSmall{
        display:flex;
        flex-wrap:wrap;
        font-size:45px;
        min-width: 450px;
        top:-100px;
    }
    .Paragraph{
        display:none;
    }
    .ParagraphSmall{
        display:flex;
        flex-wrap:wrap;
        font-size: 20px;
        min-width: 500px;
        color:#757575;
    }
    .SwitchContainer{
        max-height:600px;
        padding-right: 5%;
        display:inline-block;
        position:relative;
        min-width:400px;
    }
    .BgImage{
        position:inherit;
        width: 125%;
        max-width:130%;
        top:20px;
    }
    .TranscriptImage{
        position:absolute;
        width:62%;
        max-width:62%;
        border-radius:30px;
        background-color:#515151;
        top:12%;
        left:5%;
    }
    .MiniSwitchContainer{
        display:none;
    }
}

@media (max-width:825px){
    .Logo{
        display:none;
    }
    .Heading{
        display:none;
    }
    .HeadingSmall{
        display:flex;
        flex-wrap:wrap;
        font-size:45px;
        min-width: 450px;
    }
    .Paragraph{
        display:none;
    }
    .ParagraphSmall{
        display:flex;
        flex-wrap:wrap;
        font-size: 20px;
        min-width: 500px;
        color:#757575;
    }
    .SwitchContainer{
        display:none;
    }
    .MiniSwitchContainer{
        display:flex;
        flex-direction: column;
        justify-content: center;
    }
    .TranscriptImageSm{
        width:40%;
        height:80%;
    }
    .ButtonFlex{
        display:flex;
        order:1;
        min-width:500px;
        width:100vw;
        height:auto;
        padding-left:25vw;
        padding-right:25vw; 
        position:relative;
        background-color: #ffffff;
        border-radius: 30px;
        justify-content: flex-start;
    }
    .ButtonChildren1Sm{
        padding-left:2vw;
        padding-right:2vw;
        flex:0 100%;
        order:1;
        margin-left:80%;
        margin-right:80%;
        position:relative;
        width: auto;
        height: auto;
        font-size: 20px;
        text-align: center;
        border-radius: 26px;
        margin: 4px 2px;
        border:none;
        color: #757575;
        background-color: #ffffff;
    }
    
    .ButtonChildren2Sm{
        padding-left:2vw;
        padding-right:2vw;
        order:2;
        flex:0 100%;
        margin-left:80%;
        margin-right:80%;
        position:relative;
        width: auto;
        height: 12%;
        font-size: 20px;
        text-align: center;
        border-radius: 26px;
        margin: 4px 2px;
        border:none;
        color: #757575;
        background-color: #ffffff;
    }
    
    .ButtonChildren3Sm{
        padding-left:2vw;
        padding-right:2vw;
        order:3;
        flex:0 100%;
        margin-left:80%;
        margin-right:80%;
        position:relative;
        width: auto;
        height: auto;
        font-size: 20px;
        text-align: center;
        border-radius: 26px;
        margin: 4px 2px;
        border:none;
        color: #757575;
        background-color: #ffffff;
    }

    .ButtonSelected1Sm{
        padding-left:2vw;
        padding-right:2vw;
        flex:0 100%;
        order:1;
        margin-left:80%;
        margin-right:80%;
        position:relative;
        width: auto;
        height: auto;
        font-size: 20px;
        text-align: center;
        border-radius: 26px;
        margin: 4px 2px;
        border:none;
        color: #000000;
        font-weight: bold;
        background-color: #d3d3d3;
    }

    .ButtonSelected2Sm{
        padding-left:2vw;
        padding-right:2vw;
        order:2;
        flex:0 100%;
        margin-left:80%;
        margin-right:80%;
        position:relative;
        width: auto;
        height: 12%;
        font-size: 20px;
        text-align: center;
        border-radius: 26px;
        margin: 4px 2px;
        border:none;
        color: #000000;
        font-weight: bold;
        background-color: #d3d3d3;
    }
    
    .ButtonSelected3Sm{
        padding-left:2vw;
        padding-right:2vw;
        order:3;
        flex:0 100%;
        margin-left:80%;
        margin-right:80%;
        position:relative;
        width: auto;
        height: 12%;
        font-size: 20px;
        text-align: center;
        border-radius: 26px;
        margin: 4px 2px;
        border:none;
        color: #000000;
        font-weight: bold;
        background-color: #d3d3d3;
    }
    
    .ButtonChildren1Sm:Hover{
        padding-left:2vw;
        padding-right:2vw;
        flex:0 100%;
        order:1;
        margin-left:80%;
        margin-right:80%;
        position:relative;
        width: auto;
        height: auto;
        font-size: 20px;
        text-align: center;
        border-radius: 26px;
        margin: 4px 2px;
        border:none;
        color: #404040;
        background-color: #a9a9a9;
    }
    
    .ButtonChildren2Sm:Hover{
        padding-left:2vw;
        padding-right:2vw;
        order:2;
        flex:0 100%;
        margin-left:80%;
        margin-right:80%;
        position:relative;
        width: auto;
        height: 12%;
        font-size: 20px;
        text-align: center;
        border-radius: 26px;
        margin: 4px 2px;
        border:none;
        color: #404040;
        background-color: #a9a9a9;
    }
    
    .ButtonChildren3Sm:Hover{
        padding-left:2vw;
        padding-right:2vw;
        order:3;
        flex:0 100%;
        margin-left:80%;
        margin-right:80%;
        position:relative;
        width: auto;
        height: auto;
        font-size: 20px;
        text-align: center;
        border-radius: 26px;
        margin: 4px 2px;
        border:none;
        color: #404040;
        background-color: #a9a9a9;
    }

    .ImageCardFlex{
        order:2;
        padding-top: 20px;
        display:flex;
        justify-content: flex-start;
        flex-direction: column;
        height:auto;
    }

    .TranscriptImageSm{
        order:1;
        margin-left:15%;
        width: 70%;
    }

    .CardSm{
        order:2;
        margin-left:15%;
        width: 70%;
    }
}