.Text{
    position:relative;
    order:1;
    flex-grow:1;
    flex-shrink:1;
    flex-basis: 40%;
    align-self: center;
}

.Heading{
    font-size:60px;
    position:relative;
    top:-12px;
    word-spacing:5px;
}

.Paragraph{
    display:flex;
    flex-wrap:wrap;
    font-size: 25px;
    color:#757575;

}

.Button{
    position:relative;
    left:10px;
    width: 120px;
    height: 50px;
    color: #ffffff;
    background-color: #c22929;
    text-align: center;
    border-radius: 26px;
    margin: 4px 2px;
    border-color:#c22929;
}

.Button:hover{
    width: 120px;
    height: 50px;
    background-color: #ffffff;
    color: #c22929;
    text-align: center;
    border-radius: 26px;
    margin: 4px 2px;
    border-color:#c22929;
}

.Image{
    display:flex;
    position:relative;
    left:-10px;
    order:2;
    flex-grow:1;
    flex-shrink:1;
    align-self: center;
}

@media (max-width:1050px){
    .Text{
        display:flex;
        flex-direction:row;
        position:relative;
        order:1;
        flex-grow:1;
        flex-shrink:1;
        flex-basis: 100%;
        justify-content: center;
        flex-direction:column;
    }
    
    .Heading{
        display:flex;
        font-size:60px;
        position:relative;
        justify-content: center;
        top:-12px;
        word-spacing:5px;
    }
    
    .Paragraph{
        display:flex;
        flex-wrap:wrap;
        font-size: 25px;
        justify-content: center;
        color:#757575;
    
    }
    
    .Button{
        position:relative;
        left:10px;
        width: 120px;
        height: 50px;
        display:flex;
        justify-content: center;
        color: #ffffff;
        background-color: #c22929;
        text-align: center;
        border-radius: 26px;
        margin: 4px 2px;
        border-color:#c22929;
    }
    
    .Button:hover{
        width: 120px;
        height: 50px;
        display:flex;
        justify-content: center;
        background-color: #ffffff;
        color: #c22929;
        text-align: center;
        border-radius: 26px;
        margin: 4px 2px;
        border-color:#c22929;
    }
    
    .Image{
        position:relative;
        left:-10px;
        order:2;
        flex-grow:1;
        flex-shrink:1;
        align-self: center;
    }
    
}


