.FlexContainer{
    display:flex;
    flex-direction: row;
    width:100vw;
} 

.Text{
    position:relative;
    max-width:70%;
    min-width:50%;
    width:50%;
    padding-right:10vw;
    order:1;
    flex-grow:1;
    flex-shrink:1;
}

.Heading{
    display:flex;
    flex-wrap:nowrap;
    font-size:55px;
    font-weight: bolder;
    position:relative;
    top:-12px;
    word-spacing:5px;
}

.HeadingSmall{
    display:none;
}

.Paragraph{
    display:flex;
    flex-wrap:nowrap;
    font-size: 20px;
    color:#757575;
}

.ParagraphSmall{
    display:none;
}

.Button{
    position:relative;
    width: 120px;
    height: 50px;
    color: #ffffff;
    background-color: #c22929;
    text-align: center;
    border-radius: 26px;
    margin: 4px 0px;
    border-color:#c22929;
}

.Button:hover{
    width: 120px;
    height: 50px;
    background-color: #ffffff;
    color: #c22929;
    text-align: center;
    border-radius: 26px;
    margin: 4px 2px;
    border-color:#c22929;
}

.Image{
    position:relative;
    display:flex;
    max-width:50%;
    min-width:50%;
    order:2;
    flex-grow:1;
    flex-shrink:1;    
}

@media (min-width: 500px) and (max-width:1100px){
    .FlexContainer{
        display:flex;
        flex-direction: column;
    }

    .Text{
        display:flex;
        flex-direction:row;
        position:relative;
        top: 20px;
        order:2;
        flex-grow:1;
        flex-shrink:1;
        flex-direction:column;
        padding-bottom: 30px;
    }
    
    .HeadingSmall{
        display:flex;
        font-size:45px;
        position:relative;
        top:-12px;
        word-spacing:5px;
        min-width: 600px;
    }
    
    .ParagraphSmall{
        display:flex;
        flex-wrap:wrap;
        font-size: 20px;
        color:#757575;
        min-width: 395px;
    }

    .Heading{
        display:none;
    }
    
    .Paragraph{
        display:none;
    }
    
    .Button{
        position:relative;
        left:-5px;
        width: 100px;
        height: 35px;
        display:flex;
        justify-content: center;
        color: #ffffff;
        background-color: #c22929;
        border-radius: 26px;
        margin: 4px 2px;
        border-color:#c22929;
    }
    
    .Button:hover{
        width: 100px;
        left:-5px;
        height: 35px;
        display:flex;
        justify-content: center;
        background-color: #ffffff;
        color: #c22929;
        text-align: center;
        border-radius: 26px;
        margin: 4px 2px;
        border-color:#c22929;
    }
    
    .Image{
        left:0;
        position:relative;
        height: auto;
        max-width:150%;
        padding-right: 5%;
        order:1;
        flex-grow:1;
        flex-shrink:1;
    } 
}

@media (max-width: 500px){
    .FlexContainer{
        display:flex;
        flex-direction: column;
    }

    .Text{
        display:flex;
        flex-direction:row;
        position:relative;
        top: 35px;
        order:2;
        flex-grow:1;
        flex-shrink:1;
        flex-direction:column;
        padding-bottom: 30px;
    }
    
    .HeadingSmall{
        display:flex;
        font-size:50px;
        position:relative;
        top:-12px;
        word-spacing:5px;
        min-width: 600px;
    }
    
    .ParagraphSmall{
        display:flex;
        flex-wrap:wrap;
        font-size: 28px;
        color:#757575;
        min-width: 600px;
    }

    .Heading{
        display:none;
    }
    
    .Paragraph{
        display:none;
    }
    
    .Button{
        position:relative;
        left:-5px;
        width: 140px;
        height: 50px;
        display:flex;
        justify-content: center;
        border-radius: 26px;
        padding-top:4px;
        margin: 4px 2px;
        font-size: 23px;
        color: #ffffff;
        background-color: #c22929;
        border-color:#c22929;
    }
    
    .Button:hover{
        position:relative;
        left:-5px;
        width: 140px;
        height: 50px;
        display:flex;
        justify-content: center;
        border-radius: 26px;
        padding-top:4px;
        margin: 4px 2px;
        font-size: 23px;
        background-color: #ffffff;
        color: #c22929;
        border-color:#c22929;
    }
    
    .Image{
        left:0;
        position:relative;
        height: auto;
        max-width:150%;
        padding-right: 5%;
        order:1;
        flex-grow:1;
        flex-shrink:1;
    } 
}

