.InternalWrapper{
    position:relative;
    top:40px;
}

.TextContainer{
    display:flex;
    flex-shrink: 1;
    flex-direction:column;
    position:relative;
    top:-40px;
}

.Heading{
    display:flex;
    flex-wrap:wrap;
    font-size:45px;
}

.HeadingSmall{
    display:none;
}

.Paragraph{
    display:flex;
    flex-wrap:wrap;
    font-size: 20px;
    color:#757575;
}

.ParagraphSmall{
    display:none;
}

.ImgContainer{
    max-width:125%;
    background-color: #757575;
    height:auto;
    width: 125%;
}

.Img{
    background-color: #757575;
    max-width:100%;
    width: 100%;
}

@media (max-width:1120px){
    .Heading{
        display:none;
    }
    .HeadingSmall{
        display:flex;
        flex-wrap:wrap;
        font-size:45px;
        min-width: 450px;
    }
    .Paragraph{
        display:none;
    }
    .ParagraphSmall{
        display:flex;
        flex-wrap:wrap;
        font-size: 20px;
        min-width: 500px;
        color:#757575;
    }

    .ImgContainer{
        position:relative;
        top:-30px;
        max-width:100%;
        height:auto;
        min-width:600px;
        width: 100%;
    }
    
    .Img{
        min-width: 600px;
        max-width:100%;
        width: 100%;
    }
}

/*

    .ImgContainer{
        max-width:100%;
        height:auto;
    }

    .Img{
        position:inherit;
        min-width: 200px;
        height: auto;
        order:1;
        flex-grow:1;
        flex-shrink:0;
    }*/
