.containerGroup{
    position:relative;
    width:100%;
}

.innerContainer{
    min-width:600px;
    position:relative;
    background-color: #e5e5e5;
    padding-bottom: 4vh;
    padding-top:100px;
    padding-left:8%;
}

.buttonGroup{
    background-color: #e5e5e5;
    margin-left:15px;
    background-color: #C22929;
    border:0px;
    color: #FFFFFF;
    height: 55px;
    width: 18vh;
}

.buttonGroup:hover{
    background-color: #A52A2A;
    border:0px;
    color: #FFFFFF;
    height: 55px;
    width: 18vh;
}

.heading{
    padding-bottom:1vw;
    background-color: #e5e5e5;
}

.para{
    padding-bottom:2vw;
    background-color: #e5e5e5;
}

.textBox{
    width:22vw;
    background-color: #e5e5e5;
}

.outerGroup{
    background-color: #e5e5e5;
    position: relative;
    font-size: 80%;
    padding-top:2vw;
}
