.containerGroup{
    position:relative;
    width:100%;
}

.innerContainer{
    min-width:600px;
    position:relative;
    background-color: #fafaf9;
    padding-bottom: 4vh;
    padding-top:60px;
    padding-left:8%;
}

.buttonGroup{
    background-color: #fafaf9;
    margin-left:15px;
    background-color: #C22929;
    border:0px;
    color: #fafaf9;
    height: 55px;
    width: 18vh;
}

.buttonGroup:hover{
    background-color: #A52A2A;
    border:0px;
    color: #fafaf9;
    height: 55px;
    width: 18vh;
}

.heading{
    font-size: 50px;
    padding-bottom:1vw;
    min-width:600px;
    background-color: #fafaf9;
}

.para{
    display:none;
}

.parasm{
    padding-bottom:2vw;
    max-width:600px;
    font-size: 20px;
    background-color: #fafaf9;
    color:#757575;
}
.textBox{
    width:40vh;
    background-color: #fafaf9;
    color:black;
}

.outerGroup{
    background-color: #fafaf9;
    position: relative;
    font-size: 80%;
    top:40px;
    padding-bottom:20px;
}

@media (min-width:500px) and (max-width:600px){
    .para{
        display:none;
    }
    .parasm{
        margin-top:50px;
        margin-bottom:50px;
        padding-bottom:3vw;
        font-size: 22px;
        color:#757575;
        background-color: #fafaf9;
    }
    .innerContainer{
        min-width:650px;
        position:relative;
        background-color: #fafaf9;
        padding-bottom: 4vh;
        padding-top:30px;
        padding-left:8%;
        top:-20px;
    }
}


@media (max-width:500px){
    .heading{
        font-size: 53px;
        padding-bottom:1vw;
        min-width:600px;
        background-color: #fafaf9;
    }
    
    .para{
        display:none;
    }
    .parasm{
        margin-top:50px;
        margin-bottom:50px;
        padding-bottom:3vw;
        font-size: 26px;
        color:#757575;
        background-color: #fafaf9;
    }
    .innerContainer{
        min-width:650px;
        position:relative;
        background-color: #fafaf9;
        padding-bottom: 4vh;
        padding-top:30px;
        padding-left:8%;
        top:-20px;
    }
    .buttonGroup{
        margin-left:15px;
        border:0px;
        height: 58px;
        padding-bottom:4px;
        font-size:19px;
        width: 21vh;
        background-color: #fafaf9;
        background-color: #C22929;
        color: #fafaf9;
    }
    
    .buttonGroup:hover{
        margin-left:15px;
        border:0px;
        height: 58px;
        padding-bottom:4px;
        font-size:19px;
        width: 21vh;
        background-color: #A52A2A;
        color: #fafaf9;
    }
    .textBox{
        width:42vh;
        background-color: #fafaf9;
        color:black;
    }
}