  .universal {
    box-sizing: border-box;
    padding-left: 8%;
    padding-right: 4%;
  }
  
  body {
    margin: 0px;
    font-family: 'segoe ui';
  }
  
  .nav {
    height: 50px;
    width: 100%;
    background-color: #fafaf9;
    position: relative;
    display:flex;
    flex-wrap:nowrap;
  }
  
  .nav > .nav-header {
    display: inline-flex;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-flex;
    font-size: 45px;
    font-weight: 700;
    color: #1c1c1c;
    padding: 10px 85px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline-flex;
    float: right;
    min-width:20px;
    flex-shrink:0.5;
    font-size: 15px;
  }
  
  .nav > .nav-links > a {
    display: inline-flex;
    padding: 30px 85px 13px 10px;
    min-width:5px;
    text-decoration: none;
    color: #4F5665;
  }
  
  .nav > .nav-links > a:hover {
    color:black;
    cursor:pointer;
  }
  
  .nav > #nav-check {
    display: none;
  }

  .nav > .sign {
    display: inline-flex;
    flex-shrink:1;
    min-width:5px;
    padding: 15px 8px 13px 10px;
  }
  
  .nav > .sign > a{
    text-decoration: none;
    min-width:5px;
    padding-top:14px;
    padding-right: 50px;
    color: #0B132A; 
  }

  .nav > .sign > a:hover{
    text-decoration: none;
    min-width:5px;
    padding-top:14px;
    padding-right: 50px;
    color: black; 
  }

  .nav > .sign > button{
    width: 120px;
    height: 50px;
    background-color: #fafaf9;
    color: #c22929;
    text-align: center;
    border-radius: 2vh;
    margin: 4px 2px;
    border-color: #c22929;
  }

  .nav > .sign > button:hover{
    width: 120px;
    height: 50px;
    background-color: #c22929;
    color: #fafaf9;
    text-align: center;
    border-radius: 2vh;
    margin: 4px 2px;
    border:none;
  }
  .bar {
    display: none
  }
  .no-show{
    display:none;
  }
  
  @media (max-width:1050px) and (min-width:500px) {
    .nav > .sign{
      display:none;
    }
    .nav > .nav-btn {
      display: inline-block;
      position: relative;
      right: 5vw;
      left:60vw;
      top: 10px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      position:relative;
      width: 50px;
      height: 50px;
      color:black;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    }
    
    .nav > .nav-links {
      margin-top:10px;
      z-index:2;
      position: absolute;
      display: block;
      width: 100%;
      background-color: #fafaf9;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
      min-width:600px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
      font-size:20px;
      padding:12px;
    }
    .no-show{
      font-size: 20px;
      display: block;
      width: 100%;
      display: inline-flex;
      padding: 12px;
      min-width:5px;
      text-decoration: none;
      color: #4F5665;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 380px);
      width:98vw;
      overflow-y: hidden;
      margin-bottom:10px;
      margin-top:25px;
    }
    .bar {
      position:relative;
      left:-20px;
      display: block;
      width: 30px;
      height: 5px;
      margin: 5px auto;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      background-color: #101010;
    }
  }
  

  @media (max-width:500px){
    .nav > .nav-header > .nav-title {
      display: inline-flex;
      font-size: 50px;
      font-weight: 700;
      color: #1c1c1c;
      padding: 10px 85px 10px 10px;
    }
        
    .nav > .sign{
      display:none;
    }
    .nav > .nav-btn {
      display: inline-block;
      position: relative;
      right: 5vw;
      left:80vw;
      top: 12.5px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      position:relative;
      width: 50px;
      height: 50px;
      color:black;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    }
    
    .nav > .nav-links {
      margin-top:10px;
      z-index:2;
      position: absolute;
      display: block;
      width: 100%;
      background-color: #fafaf9;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y:auto;
      top: 50px;
      left: 0px;
      min-width:600px;
    }

    .nav > .nav-links > a {
      display: block;
      width: 100%;
      font-size: 25px;
      padding:10px;
    }
    .no-show{
      font-size: 16px;
      display: block;
      width: 100%;
      display: inline-flex;
      font-size: 25px;
      padding:10px;
      min-width:5px;
      text-decoration: none;
      color: #4F5665;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 385px);
      width:100vw;
      overflow-y: hidden;
      margin-bottom:10px;
      margin-top:34px;
      margin-left:1px;
    }
    .bar {
      position:relative;
      left:-30px;
      display: block;
      width: 30px;
      height: 5px;
      margin: 5px auto;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      background-color: #101010;
    }
  }