 * {
    box-sizing: border-box;
    padding-left: 12px;
  }
  
  body {
    margin: 0px;
    font-family: 'segoe ui';
  }
  
  .nav {
    height: 50px;
    width: 100%;
    background-color: #ffffff;
    position: relative;
    display:flex;
    flex-wrap:nowrap;
  }
  
  .nav > .nav-header {
    display: inline-flex;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-flex;
    font-size: 40px;
    font-weight: 700;
    color: #1c1c1c;
    padding: 10px 85px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline-flex;
    float: right;
    min-width:20px;
    flex-shrink:0.5;
    font-size: 18px;
  }
  
  .nav > .nav-links > a {
    display: inline-flex;
    padding: 30px 85px 13px 10px;
    min-width:5px;
    text-decoration: none;
    color: #4F5665;
  }
  
  .nav > .nav-links > a:hover {
    color:black;
    cursor:pointer;
  }
  
  .nav > #nav-check {
    display: none;
  }

  .nav > .sign {
    display: inline-flex;
    flex-shrink:1;
    min-width:5px;
    padding: 15px 85px 13px 10px;
  }
  
  .nav > .sign > a{
    text-decoration: none;
    min-width:5px;
    padding-top:16px;
    padding-right: 50px;
    color: #0B132A; 
  }

  .nav > .sign > a:hover{
    
  }

  .nav > .sign > button{
    width: 120px;
    height: 50px;
    background-color: #ffffff;
    color: #c22929;
    text-align: center;
    border-radius: 26px;
    margin: 4px 2px;
    border-color: #c22929;
  }

  .nav > .sign > button:hover{
    width: 120px;
    height: 50px;
    background-color: #c22929;
    color: white;
    text-align: center;
    border-radius: 26px;
    margin: 4px 2px;
    border:none;
  }

  @media (max-width:1050px){
    .nav > .nav-links{
      display:none;
    }
    .nav > .sign{
      display:none;
    }
  }
  /*
  @media (max-width:600px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: #1c1c1c;
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }
*/