.InternalWrapper{
    position:relative;
    top:120px;
}

.TextContainer{
    display:flex;
    flex-shrink: 1;
    flex-direction:column;
    position:relative;
    top:-40px;
}

.Heading{
    display:flex;
    flex-wrap:wrap;
    font-size:45px;
}

.HeadingSmall{
    display:none;
}

.TextHeading{
    background-color:white;
    color:#c22929;
}

.TextPara{
    background-color:white;
    color:#505050;
    font-weight:bold;
}

.CardContainer{
    display:flex;
    flex-direction: row;
    height:auto;
    max-width:90vw; 
}

.Flex1{
    display:flex;
    flex-direction:column;
    padding-top:2.5vh;
    padding-right:1.5vw;
    max-width:35vw;
    height:auto;
}

.FCard1{
    max-width:35vw;
    height: auto;
    padding:4vw 4vw 4vw 4vw;
    height:auto;
    background-color: #ffffff;
    border-radius:25px;
}

.FCard2{
    max-width:35vw;
    height: auto;
    position:relative;
    top:3vh;
    width:450px;
    padding:4vw 4vw 4vw 4vw;
    height:auto;
    background-color: #ffffff;
    border-radius:25px;
}


.Flex2{
    max-width:65vw;
    height: auto;
    display:flex;
    flex-direction:column;
    padding:20px;
}

.SCard1{
    max-width:65vw;
    height: auto;
    padding:4vw 4vw 4vw 4vw;
    height:auto;
    background-color: #ffffff;
    border-radius:25px;
}

.ImgHeader{
    position:inherit;
    max-width:100%;
}

.SCard2{
    display:flex;
    max-width:65vw;
    height: auto;
    flex-direction: row-reverse;
    position:relative;
    top:3vh;
    width:700px;
    padding:4vw 4vw 4vw 4vw;
    height:auto;
    background-color: #ffffff;
    border-radius:25px;
}

.FlexLastText{
    order:1;
    background-color: #ffffff;
    width:60%;
}

.FlexLastImage{
    order:2;
    position:inherit;
    max-width:80%;
    background-color: #ffffff;
}

@media (max-width:1120px){    
    .TextContainer{
        display:flex;
        flex-shrink: 1;
        flex-direction:column;
        position:relative;
        top:-120px;
        min-width: 600px;
    }

    .CardContainer{
        display:flex;
        flex-direction: column;
        height:auto;
        width:60vw;
        max-width:100vw;
        position:relative;
        top:-80px;
    }
    
    .Flex1{
        display:flex;
        flex-direction:column;
        padding-top:2.5vh;
        padding-right:1.5vw;
        max-width:60vw;
        height:auto;
    }
    
    .FCard1{
        max-width:60vw;
        width:90vw;
        min-width:600px;
        height: auto;
        padding:4vw 4vw 4vw 4vw;
        background-color: #ffffff;
        border-radius:25px;
    }
    
    .FCard2{
        max-width:60vw;
        width:90vw;
        height: auto;
        min-width:600px;
        position:relative;
        top:3vh;
        padding:4vw 4vw 4vw 4vw;
        height:auto;
        background-color: #ffffff;
        border-radius:25px;
    }
    
    
    .Flex2{
        display:flex;
        flex-direction:column;
        padding-top:6vh;
        padding-right:1.5vw;
        max-width:60vw;
        height:auto;
    }
    
    .SCard1{
        position:relative;
        left:-2vh;
        max-width:60vw;
        width:90vw;
        min-width:600px;
        height: auto;
        padding:4vw 4vw 4vw 4vw;
        background-color: #ffffff;
        border-radius:25px;
    }
    
    .ImgHeader{
        position:inherit;
        max-width:100%;
    }
    
    .SCard2{
        display:flex;
        max-width:65vw;
        left:-2vh;
        height: auto;
        flex-direction: row-reverse;
        position:relative;
        top:3vh;
        min-width:600px;
        padding:4vw 4vw 4vw 4vw;
        height:auto;
        background-color: #ffffff;
        border-radius:25px;
    }
    
    .FlexLastText{
        order:1;
        background-color: #ffffff;
        width:60%;
    }
    
    .FlexLastImage{
        order:2;
        position:inherit;
        max-width:80%;
        background-color: #ffffff;
    }
}